
<div class="">
  <h3>Login Page</h3>
  <form action="/login" method="post">
  	<div>
  	<label>Email:</label>
  	<input type="text" name="username" placeholder="abc@example.com"/><br/>
  	</div>
  	<div>
  	<label>Password:</label>
  	<input type="password" name="password"/>
  	</div>
  	<div>
  	<input type="submit" value="Login"/>
  	</div>
  </form>
</div>

<!--
<div class="">
  <a href="/auth/google">Login with Google</a>
</div>
-->
<!-- <div class="">
  <a href="/auth/twitter">Sign in with Twitter</a>
</div>
-->
<div class="">
  <a href="/auth/facebook">Login with Facebook</a>
</div>
<!--
<div class="">
  <a href="/auth/linkedin">Login with LinkedIn</a>
</div> -->
