<form class="" action="index.html" method="post">

  <div class="">
    <label for="">Full Name</label>
    <input type="text" name="fullname" id="fullname" value="">
  </div>

  <div class="">
    <label for="">Date of Birth</label>
    <input type="date" name="dob" id="dob" value="1990-02-01">
  </div>

  <div class="">
    <label for="">Age</label>
    <input type="text" name="age" id="age" value="">
  </div>

  <div class="">
    <label for="">Profession</label>
    <input type="text" name="profession" id="profession" value="">
  </div>

  <div class="">
    <label for="">City</label>
    <input type="text" name="city" id="city" value="">
  </div>


  <div class="">
    <label for="">Bio</label>
    <br>
    <textarea name="bio" id="bio" rows="8" cols="80"></textarea>
  </div>

  <div class="">
    <button type="button" name="button" onclick="app.updateProfile()">Done</button>
  </div>
</form>
