<form class="" action="index.html" method="">
  <div>
    <label>Sub-domain</label>
    <input type="text" id="subdomain" name="subdomain" value="" onkeyup="app.checkSubdomain()">
  </div>
</form>
<div id="preview">
</div>
<div id="status">
</div>
<div class="next">
  <button onclick="app.registerSubdomain()">Next</button>
</div>
